
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
      Notebook Grid Paper, Design Grid Pad, Designer Notebook - Gridbooks
    </title>
    <style>
      body{
        font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
      }
      a:hover {
          text-decoration: underline !important;
    }
      a img, img{
          text-decoration: none !important;
          border: none;
    }    
    td.logocell p{
      font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
      font-size:12px;
      text-align: center;
      color: #333333;
    }
    
    td.contentblock h2 {
      color:#545557 !important;
      font-size:23px;
      line-height:22px;
      font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
      margin-top:0;
      margin-bottom:10px;
      padding-top:0;
      padding-bottom:0;
      font-weight:bold;
    }
    
    
    
    td.sub-contentblock h2.secondary{
      color: #FFFFFF  !important;
      margin-bottom:5px;
    }
    
    
    td.contentblock p {
      color:#333333;
      font-size:13px;
      line-height:19px;
      font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
      margin-top:0;
      margin-bottom:12px;
      padding-top:0;
      padding-bottom:0;
      font-weight:normal;
    }
    td.contentblock p a {
      
      color:#333333;
      text-decoration:none;
    }
    
    td.sub-contentblock p {
      color:#FFFFFF;
      font-size:13px;
      line-height:19px;
      font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
      margin-top:0;
      margin-bottom:12px;
      padding-top:0;
      padding-bottom:0;
      font-weight:normal;
    }
    
    
    </style>
  <meta name="robots" content="noindex,nofollow"></meta>
<meta property="og:title" content="Order Now! Gridbooks are back with a new design and new grids"></meta>
</head>
  <body bgcolor="#f2f2f2" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="background-color:#f2f2f2;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;" >
     
    <table width="600" cellpadding="0" cellspacing="0" border="0" bgcolor="#f2f2f2" align="center">
      <tr>
        <td bgcolor="#FFFFFF" width="600">
          
               <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="table" bgcolor="#FFFFFF">
                 <tr>
                   <td width="600" >
                     <table width="600" cellpadding="0" cellspacing="0" border="0" class="table" align="center">
                       <tr>
                         <td bgcolor="#f2f2f2" class="logocell" align="center">
                           <img border="0" src="images/email1/spacer.gif" width="1" height="20" style="text-decoration:none !important;border-style:none;" >
                           <br>
                           <p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;text-align:center;color:#333333;" >
                             Having trouble reading this email? <a href="http://cm.sajakfarki.com/t/r-e-nkrujtt-l-o/" style="color:#333333;text-decoration:none;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;" >View it in your browser</a>.</p><br >
                         </td>
                       </tr>
                     </table>
                   </td>
                 </tr>
            </table>
               
               
               <table width="600" cellpadding="0" cellspacing="0" border="0" class="promotable" bgcolor="#ffffff" align="center">
          <tr>
               <td>
                  <img border="0" src="images/email1/spacer.gif" width="1" height="20" style="text-decoration:none !important;border-style:none;" >
                  <br>
          
               </td>
          </tr>
          
                    <tr>
                         <td width="20"><img border="0" src="images/email1/spacer.gif" width="1" height="20" style="text-decoration:none !important;border-style:none;" ></td>     
                         
                         <td  width="122" bgcolor="#ffffff" class="promocell">
                              <a href="http://cm.sajakfarki.com/t/r-l-nkrujtt-l-r/" target="_blank">
                                   <img border="0" src="images/email1/logo.gif" width="122" height="22" style="text-decoration:none !important;border-style:none;" >
                              </a>
                         </td>
                         
                         <td bgcolor="#ffffff" class="promocell">
                              <img border="0" src="images/email1/spacer.gif" width="20" height="20" style="text-decoration:none !important;border-style:none;" >
                         </td>
                         
                         <td width="80" bgcolor="#ffffff" class="promocell">
                              <a href="http://cm.sajakfarki.com/t/r-l-nkrujtt-l-y/" target="_blank" style="text-decoration:none;" >
                                   <img border="0" src="images/email1/tw_logo.gif" width="35" height="30" style="text-decoration:none !important;border-style:none;" >
                              </a>
                              
                              <img border="0" src="images/email1/spacer.gif" width="5" height="30" style="text-decoration:none !important;border-style:none;" >
                              
                              <a href="http://cm.sajakfarki.com/t/r-l-nkrujtt-l-j/" target="_blank" style="text-decoration:none;" >
                                   <img border="0" src="images/email1/fb_logo.gif" width="29" height="30" style="text-decoration:none !important;border-style:none;" >
                              </a>
                         </td>
                         
                         <td width="20"><img border="0" src="images/email1/spacer.gif" width="20" height="20" style="text-decoration:none !important;border-style:none;" ></td>                      
                 </tr>
                 
                 <tr>
                      <td><img border="0" src="images/email1/spacer.gif" width="1" height="20" style="text-decoration:none !important;border-style:none;" ></td>
                 </tr>
                    
                    <tr>
                    <td colspan="5" bgcolor="#bababa" width="600" height="300" valign="top" class="promocell">
                    
                 <table width="600" cellpadding="0" cellspacing="0" border="0" class="promotable">
                   <tr><td><img border="0" src="images/email1/spacer.gif" width="1" height="20" style="text-decoration:none !important;border-style:none;" ></td></tr>     
                               
                  <tr>
                         <td width="20"><img border="0" src="images/email1/spacer.gif" width="15" height="20" style="text-decoration:none !important;border-style:none;" ></td>           
                                    
                    <td width="300" valign="top" class="contentblock">
                      <img border="0" src="images/email1/new.gif" width="59" height="59" style="text-decoration:none !important;border-style:none;" >
                      
                      <br>
                      <img border="0" src="images/email1/spacer.gif" width="5" height="40" style="text-decoration:none !important;border-style:none;" >
                      <h2 bgcolor="#bababa" style="font-size:23px;line-height:22px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:10px;padding-top:0;padding-bottom:0;font-weight:bold;color:#545557 !important;background-color:#bababa;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;border-style:none;" >
                        I just got my Moto X. Get upto 25% off
                      </h2>
                      
                      <br>
                      <a href="http://cm.sajakfarki.com/t/r-l-nkrujtt-l-t/" target="_blank">
                        <img border="0" src="images/email1/btn-order.gif" width="128" height="37" style="text-decoration:none !important;border-style:none;" >
                      </a>
                      
                    </td>
                    <td width="150">
                      <img border="0" src="images/email1/motox.png" style="text-decoration:none !important;border-style:none;" >
                    </td>
                    
                    
                    
                  </tr>
                  
                   <tr><td><img border="0" src="images/email1/spacer.gif" width="1" height="20" style="text-decoration:none !important;border-style:none;" ></td></tr>     
                  
                  
              </table>
              
            </td>
                    </tr>
            
<tr>
                    <td colspan="5" bgcolor="#fabc1f" width="600" height="70" valign="top" class="promocell">
                    
                 <table width="600" cellpadding="0" cellspacing="0" border="0" class="promotable">    
                               
                  <tr>
                         <td width="12"><img border="0" src="images/email1/spacer.gif" width="5" height="5" style="text-decoration:none !important;border-style:none;" ></td>           
                                    
                    <td width="300" valign="top" class="contentblock">
                      
                      <br>
                      <h2 bgcolor="#fabc1f" style="font-size:23px;line-height:22px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:10px;padding-top:0;padding-bottom:0;font-weight:bold;color:#545557 !important;background-color:#fabc1f;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;border-style:none;" >To get offer follow link http://www.motorola.com/?coupon=M16X #motox
                      </h2>
                      
                      <br>
                      
                    </td>
                    
                    
                    
                  </tr>    
                  
                  
              </table>
              
            </td>
                    </tr>
            </table>
               
               <img border="0" src="images/email1/spacer.gif" width="1" height="15" align="center" style="text-decoration:none !important;border-style:none;" >
               <br>
               
               
               
               
               
               
          
               
               
               <img border="0" src="images/email1/spacer.gif" width="1" height="15" align="center" style="text-decoration:none !important;border-style:none;" >
               <br>
               
               
               <table width="600" bgcolor="#7b7c80" cellpadding="0" cellspacing="0" border="0"  align="center">
          <tr>
          
            <td width="300" bgcolor="#7b7c80">
              <img border="0" src="images/email1/item_gridpack2.gif" width="300" height="213" style="text-decoration:none !important;border-style:none;" >
            </td>
            <td width="250" bgcolor="#7b7c80" valign="top">
              
              <table bgcolor="#7b7c80" width="250px" cellpadding="20" cellspacing="0" border="0">
                <tr>
                  <td bgcolor="#7b7c80" class="sub-contentblock">
                    
                    <h2 bgcolor="#7b7c80" class="secondary" style="margin-bottom:5px;color:#FFFFFF  !important;background-color:#7b7c80;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;border-style:none;" >
                      Grid Packs
                    </h2>
                    <p style="color:#FFFFFF;font-size:13px;line-height:19px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:12px;padding-top:0;padding-bottom:0;font-weight:normal;" >
                      Get great discounts by ordering our grid packs. Mobile and Web grids in books and pads.  
                    </p>
                    <a href="http://cm.sajakfarki.com/t/r-l-nkrujtt-l-h/" target="_blank">
                      <img border="0" src="images/email1/btn-order.gif" width="128" height="37" style="text-decoration:none !important;border-style:none;" >
                    </a>
                  </td>
                </tr>
              </table>
              
            </td>
          </tr>
        </table>
               
               
               
               
               
               <table width="600" cellpadding="0" cellspacing="0" border="0"  align="center">
               <tr>
                 <td width="100%" bgcolor="#ffffff">
                   <table width="100%" cellpadding="0" cellspacing="0" border="0">
                   
                   <tr><td><img border="0" src="images/email1/spacer.gif" width="1" height="20" style="text-decoration:none !important;border-style:none;" ></td></tr>     
                     <tr>
                       <td bgcolor="#ffffff" class="contentblock" align="center">
                         
                         <p style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:12px;margin-bottom:12px;margin-right:0;margin-left:0;color:#333333;font-size:13px;line-height:19px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;cell-padding:20px;" >
                           tel: (403)-265-9999 &nbsp;&nbsp; | &nbsp;&nbsp; email: 
                           <a href="mailto:info@gridbooks.com" style="color:#333333;text-decoration:none;" >
                             info@gridbooks.com
                           </a>
                           &nbsp;&nbsp; | &nbsp;&nbsp; 
                           <a href="http://cm.sajakfarki.com/t/r-l-nkrujtt-l-k/" target="_blank" style="color:#333333;text-decoration:none;" >
                             www.gridbooks.com
                           </a>
                         </p>
                         
                       </td>
                     </tr>
                     
                   <tr><td><img border="0" src="images/email1/spacer.gif" width="1" height="20" style="text-decoration:none !important;border-style:none;" ></td></tr>     
                     
                   </table>
                 </td>
               </tr>
                 </table>
               
               <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="table" bgcolor="#f2f2f2">
          
          
          <tr>
            <td width="600" align="center">
              <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="table">
                
                <img border="0" src="images/email1/spacer.gif" width="1" height="25" style="text-decoration:none !important;border-style:none;" >
                <br>
                <tr>
                  <td bgcolor="#f2f2f2" class="logocell" align="center">
                    <a href="http://cm.sajakfarki.com/t/r-u-nkrujtt-l-b/" align="center" style="color:#333333;text-decoration:none;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;text-align:center;" >
                      Unsubscribe instantly
                    </a>
                  </td>
                </tr>
                
              </table>
              
              <img border="0" src="images/email1/spacer.gif" width="1" height="25" style="text-decoration:none !important;border-style:none;" >
              <br>
              
            </td>
          </tr>
        </table>
               
      </td>
      </tr>
    </table>
    
    
</body>
</html>