	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Dashboard | ReferralClix</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Loading Bootstrap -->
		<link href="../assets/css/bootstrap.css" rel="stylesheet">

		<!-- Loading Stylesheets -->    
		<link href="../assets/css/font-awesome.css" rel="stylesheet">
		<link href="../assets/css/style.css" rel="stylesheet" type="text/css"> 

		<link href="../assets/less/style.less" rel="stylesheet"  title="lessCss" id="lessCss">

		<!-- Loading Custom Stylesheets -->    
		<link href="../assets/css/custom.css" rel="stylesheet">

		<link rel="shortcut icon" href="../images/favicon.ico">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
      <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
      <![endif]-->
  </head>
  <body>
  	<div class="site-holder">
  		<!-- this is a dummy text -->
  		<!-- .navbar -->
  		<nav class="navbar" role="navigation">

  			<!-- Brand and toggle get grouped for better mobile display -->
  			<div class="navbar-header">
  				<a class="navbar-brand" href="#"><i class="fa fa-list btn-nav-toggle-responsive text-white"></i> <span class="logo">Referral<strong>Clix</strong> <i class="fa fa-bookmark"></i></span></a>
  			</div>

  			<!-- Collect the nav links, forms, and other content for toggling -->
  			<div class="collapse navbar-collapse">
  				<ul class="nav navbar-nav user-menu navbar-right ">
  					<li>
              <a href="#" class="user dropdown-toggle" data-toggle="dropdown"><span class="username"><img src="../images/profile50x50.png" class="user-avatar" alt="">  Admin </span></a>
    						<ul class="dropdown-menu">
    							<li><a href="../settings/profile.html"><i class="fa fa-user"></i> My Profile</a></li>
    							<li class="divider"></li>
    							<li><a href="../login/" class="text-danger"><i class="fa fa-lock"></i> Logout</a></li>
    						</ul>
  						</li>
  						</ul>
  					</div><!-- /.navbar-collapse -->
  				</nav> <!-- /.navbar -->

  				<!-- .box-holder -->
  				<div class="box-holder">

  					<!-- .left-sidebar -->
  					<div class="left-sidebar">
  						<div class="sidebar-holder">
  							<ul class="nav  nav-list">

  								<!-- sidebar to mini Sidebar toggle -->
  								<li class="nav-toggle">
  									<button class="btn  btn-nav-toggle text-primary"><i class="fa fa-angle-double-left toggle-left"></i> </button>
  								</li>

  								<li>
                    <a href="../dashboard/" data-original-title="Dashboard"><i class="fa fa-dashboard"></i><span class="hidden-minibar"> Dashboard </span></a>
                  </li>

  								<li class="active">
                    <a href="../campaigns/" data-original-title="Top Navbar"><i class="fa fa-indent"></i><span class="hidden-minibar"> Campaigns </span></a>
                  </li>

                  <li>
                    <a href="../dashboard/faq.html" data-original-title="Top Navbar"><i class="fa fa-question"></i><span class="hidden-minibar"> FAQs </span></a>
                  </li>

                  <li>
                    <a href="../settings/profile.html" data-original-title="Top Navbar"><i class="fa fa-cogs"></i><span class="hidden-minibar"> Settings </span></a>
                  </li>

  							</ul>
  						</div>
  					</div> <!-- /.left-sidebar -->

  					<!-- .content -->
  					<div class="content">
  						<div class="row">
  							<div class="col-mod-12">

  								<ul class="breadcrumb">
  									<li><a href="../dashboard/">Dashboard</a></li>
  									<li><a href="../campaigns/">Campaigns</a></li>
                    <li class="active">Motorola G 16 GB</li>
  								</ul>

  								<h3 class="page-header"><i class="fa fa fa-indent"></i> Campaigns </h3>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  
                </div>
              </div>

              <!-- Campaign Details -->
              <div class="row">
                <div class="col-md-12">
                  <h3>Motorola G 16GB <small>| <em>31 March 2014 - 21 April 2014</em></small></h3>

                  <div class="alert alert-danger alert-dismissable">
                     <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                     <p>This campaign will expire on <strong>21 April 2014</strong>.</p>
                  </div>
                  <hr />
                </div>
              </div>

              <div class="row">
                <div class="col-md-2">

                  <div class="panel panel-success">
                    <div class="panel-body">
                      <div class="web-stats success">
                        <div class="pull-left">
                          <h5>65</h5>
                          <span class="description">Overlay Count</span>
                        </div>
                      </div>
                      
                      <div class="web-stats success">
                        <div class="pull-left">
                          <h5>26 </h5>
                          <span class="description">Advocates</span>
                        </div>
                      </div>

                      <div class="web-stats success">
                        <div class="pull-left">
                          <h5>78</h5>
                          <span class="description">Shares</span>
                        </div>
                      </div>

                      <div class="web-stats success">
                        <div class="pull-left">
                          <h5>58</h5>
                          <span class="description">Invites</span>
                        </div>
                      </div>

                      <div class="web-stats success">
                        <div class="pull-left">
                          <h5>918</h5>
                          <span class="description">Views</span>
                        </div>
                      </div>

                    </div>
                </div>


                </div>

                <!-- Pie chart -->
                <div class="col-md-9">
                      <div class="row">
                        <div class="col-md-12">
                          <h4>Filter Charts</h4>
                          <label class="checkbox-inline">
                            <input type="checkbox" name="chkFacebook" id="chkFacebook" checked="checked">
                            Facebook
                          </label>
                          <label class="checkbox-inline">
                            <input type="checkbox" name="chkTwitter" id="chkTwitter" checked="checked">
                            Twitter
                          </label>
                          <label class="checkbox-inline">
                            <input type="checkbox" name="chkGoogle" id="chkGoogle" checked="checked">
                            Google+
                          </label>
                          <label class="checkbox-inline">
                            <input type="checkbox" name="chkEmail" id="chkEmail" checked="checked">
                            Email
                          </label>
                          <hr />
                        </div>
                      </div>

                      <div class="row">

                        <div class="col-md-4">
                          <h3 style="text-align:center;">Shares</h3>
                          <div id="shares"></div>
                        </div>

                        <div class="col-md-4">
                          <h3 style="text-align:center;">Invites</h3>
                          <div id="invites"></div>
                        </div>

                        <div class="col-md-4">
                          <h3 style="text-align:center;">Views</h3>
                          <div id="views"></div>
                        </div>

                      </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
  								<div class="panel panel-cascade">
  									<div class="panel-body nopadding">
  										<table class="table">
  											<thead>
  												<tr>
  													<th><i class="fa fa-caret-right"></i> Advocate</th>
  													<th><i class="fa fa-caret-right"></i> Shares</th>
                            <th><i class="fa fa-caret-right"></i> Referrals</th>
                            <th><i class="fa fa-caret-right"></i> Views</th>
  													<th><i class="fa fa-caret-right"></i> Clicks</th>
  												</tr>
  											</thead>
  											<tr>
  												<td>John Doe</td>
                          <td>65</td>
                          <td>300</td>
                          <td>918</td>
                          <td>215</td>
  											</tr>
                        <tr>
                          <td>Ruth Clark</td>
                          <td>65</td>
                          <td>300</td>
                          <td>918</td>
                          <td>215</td>
                        </tr>
                        <tr>
                          <td>Travis Noble</td>
                          <td>65</td>
                          <td>300</td>
                          <td>918</td>
                          <td>215</td>
                        </tr>
                        <tr>
                          <td>Tamika Ramirez</td>
                          <td>65</td>
                          <td>300</td>
                          <td>918</td>
                          <td>215</td>
                        </tr>
                        <tr>
                          <td>Gladys Bessette</td>
                          <td>65</td>
                          <td>300</td>
                          <td>918</td>
                          <td>215</td>
                        </tr>
  										</table>
                    </div>
                      <ul class="pagination pull-right">
                        <li class="disabled"><a href="#">«</a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">»</a></li>
                      </ul>
  								</div>
  							</div>
  						</div>
  						
  						<div class="footer">
  							© 2014 <a href="#.">ReferralClix</a>
  						</div>

  					</div> <!-- /.content -->



</div> <!-- /.box-holder -->
</div><!-- /.site-holder -->



<!-- Load JS here for Faster site load =============================-->
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="../assets/js/less-1.5.0.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/application.js"></script>

<!-- Morris Charts  =============================-->
<script src="../assets/js/raphael-min.js"></script>
<script src="../assets/js/morris-0.4.3.min.js"></script>

<script type="text/javascript">
  // First Donut chart on Dashboard
  Morris.Donut({
      element: "shares",
      data: [ {
          value: 52,
          label: "Facebook"
      }, {
          value: 13,
          label: "Twitter"
      }, {
          value: 13,
          label: "Google+"
      }],
      labelColor: "#54728c",
      colors: [ "#90c657", "#54728c", "#54b5df", "#f9a94a", "#e45857" ],
      formatter: function(e) {
          return e;
      }
  }).on("click", function(e, t) {
      console.log(e, t);
  });

  Morris.Donut({
      element: "invites",
      data: [ {
          value: 26,
          label: "Facebook"
      }, {
          value: 7,
          label: "Twitter"
      }, {
          value: 6,
          label: "Google+"
      }, {
          value: 19,
          label: "Email"
      } ],
      labelColor: "#54728c",
      colors: [ "#90c657", "#54728c", "#54b5df", "#f9a94a", "#e45857" ],
      formatter: function(e) {
          return e;
      }
  });

  /*Morris.Donut({
      element: "referrals",
      data: [ {
          value: 95,
          label: "Facebook"
      }, {
          value: 56,
          label: "Twitter"
      }, {
          value: 51,
          label: "Google+"
      }, {
          value: 43,
          label: "Email"
      } ],
      labelColor: "#54728c",
      colors: [ "#90c657", "#54728c", "#54b5df", "#f9a94a", "#e45857" ],
      formatter: function(e) {
          return e;
      }
  });*/

  Morris.Donut({
      element: "views",
      data: [ {
          value: 459,
          label: "Facebook"
      }, {
          value: 306,
          label: "Twitter"
      }, {
          value: 80,
          label: "Google+"
      }, {
          value: 73,
          label: "Email"
      } ],
      labelColor: "#54728c",
      colors: [ "#90c657", "#54728c", "#54b5df", "#f9a94a", "#e45857" ],
      formatter: function(e) {
          return e;
      }
  });
</script>

<script src="../assets/js/theme-options.js"></script>

<!-- Core Jquery File  =============================-->
<script src="../assets/js/core.js"></script>

</body>
</html>