<div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <div class="alert alert-success alert-dismissable">
            <h3>Congratulations!</h3>
            <p>Thank you for signing up with ReferralClix, we appreciate your interest and look forward to having you aboard.</p>
            <p>You will shortly receive an activation link.</p>
            <p><a class="btn btn-success btn-wide pull-left" href="#login">Back</a></p>
            <p><a class="btn btn-info btn-wide pull-right" href="#fakelink">Resend link</a></p>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

</div>
</div>