
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-md-offset-1">
                <form ng-submit="OnContinue()">
                  <h2>{{t.SignUp}} <small>{{t.Comment}}</small></h2>
                  <hr />
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="text" name="first_name" id="first_name" class="form-control" placeholder={{t.FirstName}} tabindex="1">
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="text" name="last_name" id="last_name" class="form-control" placeholder={{t.LastName}} tabindex="2">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="email" name="email" id="email" class="form-control" placeholder={{t.EmailAddress}} tabindex="4">
                  </div>
                  <div class="form-group">
                    <input type="date" name="dob" id="dob" class="form-control" placeholder={{t.DOB}} tabindex="4">
                  </div>
                  <div class="form-group">
                    <input type="phone" name="email" id="phnumber" class="form-control" placeholder={{t.PhNumber}} tabindex="4">
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control" placeholder={{t.Password}} tabindex="5">
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="password" name="password_confirmation" id="password_confirmation" class="form-control" placeholder={{t.ConfirmPassword}} tabindex="6">
                      </div>
                    </div>
                  </div>
                                    
                  <hr class="colorgraph">
                  <div class="row">
                    <div class="col-xs-12 col-md-4 pull-right"><input type="submit" value="Continue" class="btn btn-primary btn-block" tabindex="7"></div>
                  </div>
                </form>
              </div>
            </div>


            </div>    
        </div>
